.dark-theme {
          --theme-bg-default: #171717;
  --theme-bg-subtle: #323232;
  --theme-bg-muted: #757575;
  --theme-fg-default: #ffffff;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #eeeeee;
  --theme-fg-subtle: #9e9e9e;
  --theme-accent-default: #3d53f5;
  --theme-accent-subtle: #060818;
      }