.global-theme {
  --colors-black: #171717;
  --colors-white: #ffffff;
  --colors-red-50: #FFF5F7;
  --colors-red-100: #fce8ec;
  --colors-red-200: #f9d0d9;
  --colors-red-300: #f2a2b3;
  --colors-red-400: #e95c7b;
  --colors-red-500: #df1642;
  --colors-red-600: #9c0f2e;
  --colors-red-700: #59091a;
  --colors-red-800: #2d040d;
  --colors-red-900: #160207;
  --colors-red-950: #100105;
  --colors-blue-50: #eceefe;
  --colors-blue-100: #d8ddfd;
  --colors-blue-200: #b1bafb;
  --colors-blue-300: #8b98f9;
  --colors-blue-400: #6475f7;
  --colors-blue-500: #3d53f5;
  --colors-blue-600: #3142c4;
  --colors-blue-700: #253293;
  --colors-blue-800: #182162;
  --colors-blue-900: #0c1131;
  --colors-blue-950: #060818;
  --colors-grey-50: #fcfcfc;
  --colors-grey-100: #f5f5f5;
  --colors-grey-200: #eeeeee;
  --colors-grey-300: #e0e0e0;
  --colors-grey-400: #bdbdbd;
  --colors-grey-500: #9e9e9e;
  --colors-grey-600: #757575;
  --colors-grey-700: #616161;
  --colors-grey-800: #424242;
  --colors-grey-900: #323232;
  --colors-grey-950: #212121;
}