.light-theme {
          --theme-bg-default: #ffffff;
  --theme-bg-subtle: #f5f5f5;
  --theme-bg-muted: #e0e0e0;
  --theme-fg-default: #171717;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-accent-default: #3d53f5;
  --theme-accent-subtle: #eceefe;
      }